body {
    margin: 0;
    background-color: #dad7d7;
}

/* header */


.header {
    background-image: url(../imagen/monitoreo.jpeg);
    background-size: cover;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav__bar {
    width: 1600px;
    margin: 0;
}

.image__png {
    height: 100px;
    display: flex;
    padding-top: 0;
    margin: 0;
    background-image: radial-gradient(circle, #8684a4, transparent);
    background-size: cover;
}

.main__title {
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #000000;
    text-align: center;
    font-size: 58px;
    margin: 0;
}

.nav__ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 25px;
}

.nav__item {
    display: inline-block;
    padding: 5px;
    margin: 4px;
}

.nav__item:hover {
    padding: 5px;
    background-color: #ff0000;
    border-radius: 13px;

}

.nav__link {
    text-shadow: 1.5px 1.5px #ff0000;

    text-decoration: none;
    color: #ffffff;
}



/* main */


.title__index {
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 65px;
    margin: 50px;
}

.title__index2 {
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: #ffffff;
    background-color: #ff0000;
    width: 70%;
    text-align: justify;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title__index3 {
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: #ffffff;
    background-color: #ff0000;
    width: 70%;
    text-align: justify;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* slider */


.contenedor__slider {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 95%;
}

.slider__izquierdo,
.slider__derecho {
    width: 5%;
}

.slider__izquierdo img,
.slider__derecho img {
    width: 100%;
}

.slider__screen img {
    width: 100%;
    content: center;
}

.pLQMQ {
    text-align: center;
    font-size: 47px;
    margin: 100px;
    color: #ff0000;
}

.uSPPTH {
    text-align: center;
    margin: 20px;
    font-size: 37px;
}

.conteiner-tBLMSES {
    margin: 50px 25% 20px;
    padding: 17px;
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0 0 7px #000000;
}

.tBLMSES {
    text-align: center;
    font-size: 31px;
    color: #ffffff;
}

.ul-tBLMSES {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li {
    padding: 4px;
    font-size: 21px;
}

.que-brindamos {
    color: #ff0000;
    text-align: center;
    font-size: 47px;
    margin: 100px;
}

.dispositivos-brindamos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.conteiner-lutes {
    background-color: #292929;
    padding: 27px;
    text-align: center;
}

.lutes {
    font-size: 37px;
    margin: 20px;
    color: #ff0000;
}

.txt-lutes {
    font-size: 27px;
    color: #ffffff;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #ff0000;
    color: #ff0000;
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button:hover span {
    color: #ffffff;
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.end-lutes {
    width: 100%;
    height: 10px;
    background-color: #ff0000;
}

/* footer  */


.footer {
    text-shadow: 0.4px 0.4px #000;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    background: linear-gradient(transparent, hsl(202, 95%, 64%));
    width: 100%;
    padding: 20px 0;
}

.caja {
    flex: 1;
    text-align: center;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
}

.footer__list {
    list-style: none;
    display: flex;
    margin: 20px;
}

.li__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-right: 6px;
    text-decoration: none;
    color: #000;
}

.img__png {
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 70px;
}

.footer__text {
    color: #000;
}

.p__footer {
    color: #000;
    text-align: center;
}